/* Dark Mode Anpassungen */
.dark-mode {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.dark-mode header {
    background-color: #1abc9c;
}

.dark-mode footer {
    background-color: #1abc9c; /* Gleiche Farbe wie der Header im Dark Mode */
    color: #ecf0f1; /* Helle Farbe für den Text */
}

.dark-mode h2, .dark-mode h3 {
    color: #1abc9c; /* Gleiche Farbe wie im Header */
}

/* Tabellenstile für Dark Mode */
.dark-mode .styled-table {
    background-color: #34495e;
    color: #ecf0f1;
}

.dark-mode .styled-table th {
    background-color: #2c3e50; /* Dunklere Hintergrundfarbe für Tabellenköpfe */
    color: #ecf0f1; /* Helle Textfarbe für Lesbarkeit */
}

.dark-mode .styled-table td {
    border-bottom: 1px solid #2c3e50; /* Kontrastreichere Linienfarbe */
    color: #ecf0f1; /* Helle Textfarbe */
}

.dark-mode .styled-table tbody tr:nth-of-type(even) {
    background-color: #3b4b5c; /* Dunkleres Grau für abwechselnde Zeilen */
}

.dark-mode .styled-table tbody tr:nth-of-type(odd) {
    background-color: #34495e; /* Leichtes Grau für abwechselnde Zeilen */
}

/* Hover-Effekt für Tabellenzeilen im Dark Mode */
.dark-mode .styled-table tbody tr:hover {
    background-color: #1abc9c; /* Hervorhebungsfarbe */
    color: #2c3e50; /* Dunkle Textfarbe für Lesbarkeit */
}

/* Buttons im Dark Mode */
.dark-mode .btn {
    color: #2c3e50; /* Dunkle Textfarbe */
}

.dark-mode .btn-view {
    background-color: #27ae60; /* Grün */
}

.dark-mode .btn-view:hover {
    background-color: #219150; /* Dunkleres Grün */
}

.dark-mode .btn-edit {
    background-color: #3498db; /* Blau */
}

.dark-mode .btn-edit:hover {
    background-color: #2980b9; /* Dunkleres Blau */
}

.dark-mode .btn-archive {
    background-color: #e67e22; /* Orange */
}

.dark-mode .btn-archive:hover {
    background-color: #d35400; /* Dunkleres Orange */
}

.dark-mode .btn-delete {
    background-color: #e74c3c; /* Rot */
}

.dark-mode .btn-delete:hover {
    background-color: #c0392b; /* Dunkleres Rot */
}

.dark-mode .btn-add {
    background-color: #2980b9; /* Blau */
}

.dark-mode .btn-add:hover {
    background-color: #2471a3; /* Dunkleres Blau */
}

/* Links im Dark Mode */
.dark-mode .social-links a {
    color: #ecf0f1; /* Gleiche Textfarbe wie im Header */
}

.dark-mode .social-links a:hover {
    color: #fff;
    text-decoration: underline;
}
