/* Yellow Style */
/* Allgemeine Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DBD56E; /* Hintergrundfarbe gelb */
    color: #403D58; /* Textfarbe dunkel */
    text-align: center; /* Text zentiert */
}

/* Header-Stil */
header {
    background: #403D58; /* Hintergrundfarbe dunkel */
    color: #DBD56E; /* Schriftfarbe gelb */
    display: flex;
    flex-direction: column; /* Titel und Menü übereinander anordnen */
    align-items: flex-start; /* Elemente an der linken Seite ausrichten */
    padding: 20px;
    position: relative;
    font-size: 30px;
}

/* Anpassung der Schriftgröße des Titels */
header h1 {
    font-size: 24px; /* Angemessene Schriftgröße für den Titel */
    margin: 0;
}

/* Burger-Menü-Icon links unter dem Titel */
.menu-toggle {
    font-size: 30px;
    cursor: pointer;
    margin-top: 10px; /* Platz unter dem Titel */
    position: relative;
    align-self: flex-start; /* Burger-Menü links unter dem Titel */
}

/* Navigation - absolut positioniert, damit es Layout nicht beeinflusst */
nav {
    display: none; /* Das Menü ist standardmäßig versteckt */
    position: absolute;
    top: 100%; /* Platziere das Menü direkt unter dem Header */
    left: 0;
    width: 100%;
    background: #403D58; /* Navigation Hintergrund dunkel */
}

/* Navigation sichtbar machen, wenn aktiviert */
nav.active {
    display: block; /* Menü anzeigen, wenn aktiv */
}

/* Navigation Links */
nav ul {
    list-style: none;
    padding: 0 20px; /* Platz vom linken Rand hinzufügen */
    margin: 0;
    text-align: left; /* Text linksbündig ausrichten */
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #DBD56E; /* Schriftfarbe gelb */
    text-decoration: none;
    font-size: 18px;
}

/* Footer-Stil */
footer {
    background: #403D58; /* Hintergrundfarbe dunkel */
    color: #DBD56E; /* Schriftfarbe gelb */
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 14px;
}
